body{
    margin:0;
    font-family: sans-serif;
    height: 100vh;
}
.container{
    width: 90vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.screen-image{
    max-width: 800px;
    position: absolute;
    top: 40px;
    
    
}
.screen-image img{
    
    width: 100%;
    border-radius: 10px;
    border: 6px solid wheat;
    box-shadow: 2px 4px 4px rgba(0,0,0 0.8);
    height: 500px;
}
.screen-image h1{
    color: white;
    font-size: 500;
}
.screen-image p{
    color: white;
    line-height: 25px;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    background-color: orange;
}

.trailer-container{
    
    width: 900px;
    height: 100%;
    position: fixed;
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 1;
    transition: opacity 1s;
}
@media (max-width:990px){
    .trailer-container video{
        max-width: 50%;
    }
    
}
.active.trailer-container{
   visibility: hidden;
   opacity: 0;
}
.trailer-container video{
    width: 100%;
    outline: none;
}
.trailer-container img{
    color: white;
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 5px;
    right:0;
    cursor: pointer;
    border-radius: 50%;
}